.ht-theme-hitagi {
  *, ::before, ::after {
    --hitagi-theme-50: 252 247 252;
    --hitagi-theme-100: 249 238 248;
    --hitagi-theme-200: 242 220 240;
    --hitagi-theme-300: 231 192 227;
    --hitagi-theme-400: 215 155 208;
    --hitagi-theme-500: 195 114 185;
    --hitagi-theme-600: 166 83 154;
    --hitagi-theme-700: 127 62 116;
    --hitagi-theme-800: 112 56 102;
    --hitagi-theme-900: 93 50 84;
    --hitagi-theme-950: 59 23 52;
  }
}

.ht-theme-hachikuji {
  *, ::before, ::after {
    --hitagi-theme-50: 246 248 237;
    --hitagi-theme-100: 232 239 216;
    --hitagi-theme-200: 211 224 182;
    --hitagi-theme-300: 183 204 138;
    --hitagi-theme-400: 155 182 101;
    --hitagi-theme-500: 117 144 66;
    --hitagi-theme-600: 97 123 53;
    --hitagi-theme-700: 76 95 44;
    --hitagi-theme-800: 62 76 40;
    --hitagi-theme-900: 54 66 37;
    --hitagi-theme-950: 27 35 16;
  }
}

.ht-theme-shinobu {
  *, ::before, ::after {
    --hitagi-theme-50: 253 251 233;
    --hitagi-theme-100: 252 246 197;
    --hitagi-theme-200: 250 235 142;
    --hitagi-theme-300: 246 213 65;
    --hitagi-theme-400: 242 194 29;
    --hitagi-theme-500: 226 170 16;
    --hitagi-theme-600: 195 132 11;
    --hitagi-theme-700: 156 94 12;
    --hitagi-theme-800: 129 74 18;
    --hitagi-theme-900: 110 61 21;
    --hitagi-theme-950: 64 31 8;
  }
}