.ht-theme-hitagi {
  *, ::before, ::after {
    --hitagi-theme-50: 252 247 252;
    --hitagi-theme-100: 249 238 248;
    --hitagi-theme-200: 242 220 240;
    --hitagi-theme-300: 231 192 227;
    --hitagi-theme-400: 215 155 208;
    --hitagi-theme-500: 195 114 185;
    --hitagi-theme-600: 166 83 154;
    --hitagi-theme-700: 127 62 116;
    --hitagi-theme-800: 112 56 102;
    --hitagi-theme-900: 93 50 84;
    --hitagi-theme-950: 59 23 52;
  }
}

.ht-theme-hachikuji {
  *, ::before, ::after {
    --hitagi-theme-50: 246 248 237;
    --hitagi-theme-100: 232 239 216;
    --hitagi-theme-200: 211 224 182;
    --hitagi-theme-300: 183 204 138;
    --hitagi-theme-400: 155 182 101;
    --hitagi-theme-500: 117 144 66;
    --hitagi-theme-600: 97 123 53;
    --hitagi-theme-700: 76 95 44;
    --hitagi-theme-800: 62 76 40;
    --hitagi-theme-900: 54 66 37;
    --hitagi-theme-950: 27 35 16;
  }
}

.ht-theme-shinobu {
  *, ::before, ::after {
    --hitagi-theme-50: 250 244 229;
    --hitagi-theme-100: 248 240 219;
    --hitagi-theme-200: 243 231 198;
    --hitagi-theme-300: 239 222 177;
    --hitagi-theme-400: 235 213 155;
    --hitagi-theme-500: 230 204 134;
    --hitagi-theme-600: 226 196 113;
    --hitagi-theme-700: 216 175 62;
    --hitagi-theme-800: 180 143 37;
    --hitagi-theme-900: 129 103 26;
    --hitagi-theme-950: 104 83 21;
  }
}